input{
    text-indent: 10px;
    border: none;
}

.img-align{
    padding-top: 3px;
}

.info-contacto{
    background-color: #003758;
    color: #ffff;
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    text-align: left;
}

.banner-buscador{
    background-color: #0071ce;
    position: absolute;
    width: 100%;
}

.menuIcon{
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.logo-app{
    float: left;
    left: .5rem;
    margin: 10px;
    top: 10px;
    width: 130px;
}

.input-buscador{
    margin: 10px;
    width: 60%;
}

.btn-categorias, .btn-carro, .btn-supermercado{
    text-align: center;
    height: 38px;
    min-width: 100px;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    float: left;
    padding: 10px 10px 0 10px;
}

.input-buscador{
    border-radius: 5px;
    color: #fff;
    float: left;
    height: 38px;
    margin: 15px 10px 10px 10px;
    min-width: 100px;
    text-align: center;
}

.buscador{
    border-color: #808080;
    border-radius: 26px;
    float: left;
    font-size: 16px;
    height: 35px;
    min-width: 250px;
    outline: none;
    width: 100%;
}

.btn-categorias:hover, .btn-carro:hover, .btn-supermercado:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.btn-categorias, .btn-carro{
    background-color: #06568f;
}

.btn-supermercado{
    background-color: #5fb446;
}

@media (max-width: 1661px){
    .input-buscador {
        width: 60%;
    }
}

@media (max-width: 1571px){
    .input-buscador {
        width: 50%;
    }
}

@media (max-width: 1261px){
    .input-buscador {
        width: 40%;
    }
}

@media (max-width: 1113px){
    .input-buscador {
        width: 30%;
    }
}

@media (max-width: 956px){
    .btn-supermercado, .btn-carro {
        display: none;
    }
}

@media (max-width: 604px){
    .btn-categorias {
        display: none;
    }
    .input-buscador {
        width: 90%;
    }
}